<p id="notice"><%= notice %></p>

<h1>Routes Result</h1>
<h3>再検索</h3>

<form>
      <div class="form-group">
        <label for="exampleInputEmail1">from</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Origin">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">to</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Destination">
      </div>
      <button type="submit" class="btn btn-default">検索</button>
</form>


<dl class="dl-horizontal">
  <dt>バス運賃</dt><dd><%=@bus_first["price"]%></dd>
  <hr>

  <% @bus_first["info"].each do |info| %>
      <dt>バス出発時刻</dt><dd><%= info["start_time"] %></dd>
      <dt>バス到着時刻</dt><dd><%= info["arrive_time"] %></dd>
      <dt>出発駅</dt><dd><%= info["start_name"] %></dd>
      <dt>到着駅</dt><dd><%= info["arrive_name"] %></dd>
      <dt>バス運賃</dt><dd><%= info["fare"] %></dd>
      <dt>バス路線</dt><dd><%= info["details"].first %></dd>
      <hr>
  <% end %>
</dl>
